PORT=8000
FRONTEND_ORIGIN=http://localhost:5173
ACADEMIA_URL=https://academia.srmist.edu.in
SCRAPE_HEADLESS=true
NEWS_API_KEY=your_news_api_key_here

# LLM Config
LLM_API_KEY=your_llm_api_key_here
LLM_BASE_URL=https://openrouter.ai/api/v1
LLM_MODEL=meta-llama/llama-3.3-70b-instruct

# Security
JWT_SECRET=t7fr5eya32wasedrtfyuigtydf4trdse4w2

# AWS (Hyperscaler Integration)
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=your_access_key
AWS_SECRET_ACCESS_KEY=your_secret_key
AWS_S3_BUCKET_NAME=your_bucket_name
